<div *ngIf="book" class="detail-container">

  <!-- Header -->

  <div class="topbar">

    <button class="icon-btn" onclick="history.back()">
      <img src="/arrow.png" alt="" width="15px">
    </button>

    <button class="icon-btn">
      ♡
    </button>

  </div>

  <!-- Información principal -->

  <div class="book-header">

    <img
      class="book-cover"
      [src]="'https://covers.openlibrary.org/b/id/' + book.covers?.[0] + '-L.jpg'"
      [alt]="book.title"
    />

    <div class="book-info">

      <h1>{{ book.title }}</h1>

      <p class="author">
        {{ authorName }}
      </p>

      <div class="rating">
        <span>4.8</span>
        <span class="stars">★★★★★</span>
        <span class="reviews">(12.5k)</span>
      </div>

      <span class="category">
        {{ book.subjects?.[0] || 'General' }}
      </span>

    </div>

  </div>

  <!-- Acciones -->

  <button class="read-btn" (click)="leerLibro()">
    Leer ahora
  </button>

  <div class="actions">

    <button class="secondary-btn" (click)="agregarFavorito()">
      Añadir a favoritos
    </button>

    <button class="secondary-btn" (click)="agregarBiblioteca()">
      Añadir a mi biblioteca
    </button>

  </div>

  <!-- Descripción -->

  <section class="section">

    <h2>Descripción</h2>

    <p>
      {{ description }}   
    </p>

  </section>

  <!-- Información -->

  <section class="section">

    <h2>Información</h2>

    <div class="info-list">

      <div class="info-item">
        <span>Páginas:</span>
        <strong>320</strong>
      </div>

      <div class="info-item">
        <span>Última revisión:</span>
        <strong>{{ book.latest_revision }}</strong>
      </div>

      <div class="info-item">
        <span>Categoría:</span>
        <strong>{{ book.subjects?.[0] || 'General' }}</strong>
      </div>

      <div class="info-item">
        <span>Temas:</span>
        <strong class="category">{{ getSubjects() }}</strong>
      </div>

    </div>

  </section>

</div>
