<div *ngIf="book" class="detail-container">

  <div class="topbar">
    <button class="icon-btn" (click)="volver()">
      <img src="/arrow.png" alt="" width="15px">
    </button>
  </div>

  <div class="book-header">
    <img
      class="book-cover"
      [src]="'https://covers.openlibrary.org/b/id/' + book.covers?.[0] + '-L.jpg'"
      [alt]="book.title"
    />

    <div class="book-info">
      <h1>{{ book.title }}</h1>
      <p class="author">{{ authorName }}</p>
      <div class="rating" *ngIf="ratingCount > 0">
        <div>
          <span>{{ ratingAverage }}</span>
          <span class="stars">★★★★★</span>
        </div>
        <span class="reviews">({{ ratingCount }} reseñas)</span>
      </div>    
      <div class="rating" *ngIf="ratingCount === 0">
        <span class="reviews">Sin calificaciones en OpenLibrary</span>
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="secondary-btn" (click)="agregarBiblioteca()">
      Añadir a mi biblioteca
    </button>
  </div>

  <section class="section">
    <h2>Descripción</h2>
    <p>{{ description }}</p>
  </section>

  <section class="section">
    <h2>Información</h2>
    <div class="info-list">
      <div class="info-item">
        <span>Páginas:</span>
        <strong>320</strong>
      </div>

      <div class="info-item">
        <span>Última revisión:</span>
        <strong>{{ book.latest_revision }}</strong>
      </div>

      <div class="info-item">
        <span>Categoría:</span>
        <strong>{{ book.subjects?.[0] || 'General' }}</strong>
      </div>

      <div class="info-item">
        <span>Temas:</span>
        <strong class="category">{{ getSubjects() }}</strong>
      </div>
    </div>
    <div class="buy-container">
      <button class="buy-btn" (click)="obtenerLibro()">Leer ahora</button>
    </div>
    
  </section>

</div>