<div class="profile-container">

  <div class="profile-header">
    <button class="settings-btn">⚙</button>
    
    <img
      class="avatar"
      [src]="avatarUrl"
      [alt]="user.name"
    >
    
    <h2>{{ user.name }}</h2>
    <p>{{ user.email }}</p>
  </div>

  <div class="profile-card">
    <div class="menu">
      <div class="menu-item logout" (click)="cerrarSesion()" style="cursor: pointer;">
        <span>↩ </span><span>Cerrar sesión</span>
        <span>›</span>
      </div>
    </div>

  </div>

  <nav class="bottom-nav">
    <button routerLink="/home">
      <div>🏠</div>
      <span>Inicio</span>
    </button>

    <button routerLink="/library">
      <div>📚</div>
      <span>Libros leidos</span>
    </button>

    <button class="active-nav">
      <div>👤</div>
      <span>Perfil</span>
    </button>
  </nav>

</div>