<div class="search-page">

  <!-- Header -->

  <div class="search-header">

    <button class="back-btn" routerLink="/home">
      <img src="/arrow.png" alt="" width="15px">
    </button>

    <input
      #searchInput
      type="text"
      placeholder="Buscar libros"
      
    />
    <button class="back-btn" (click)="buscar(searchInput.value)">
      <img src="/lupa.png" alt="" width="20px"  >
    </button>

  </div>

  <!-- Tabs -->

  <div class="tabs">

    <button [class.active]="selectedTab === 'all'" (click)="setTab('all')">
      Todos
    </button>

    <button [class.active]="selectedTab === 'books'" (click)="setTab('books')">
      Libros
    </button>

    <button [class.active]="selectedTab === 'authors'" (click)="setTab('authors')">
      Autores
    </button>

    <button [class.active]="selectedTab === 'genres'" (click)="setTab('genres')">
      Géneros
    </button>

  </div>

  <!-- Resultados -->

  <div class="results">

    <div class="result-item" *ngFor="let book of books">

      <img
        *ngIf="book.cover_i"
        [src]="'https://covers.openlibrary.org/b/id/' + book.cover_i + '-L.jpg'"
        [alt]="book.title"
        class="book-cover"
      >

      <div class="book-info">

        <h3>{{ book.title }}</h3>

        <p>{{ book.author_name?.[0] || 'Desconocido' }}</p>

        <span class="rating">
          4.8 ★★★★★
        </span>

      </div>

      <button class="menu-btn" [routerLink]="['/book', book.key.replace('/works/', '')]">
        ⋮
      </button>

    </div>

    <div class="result-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9788478884957-M.jpg"
        alt="Harry Potter"
      >

      <div class="book-info">

        <h3>Harry Potter y la cámara secreta</h3>

        <p>J. K. Rowling</p>

        <span class="rating">
          4.7 ★★★★★
        </span>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

    <div class="result-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9788478885190-M.jpg"
        alt="Harry Potter"
      >

      <div class="book-info">

        <h3>Harry Potter y el prisionero de Azkaban</h3>

        <p>J. K. Rowling</p>

        <span class="rating">
          4.8 ★★★★★
        </span>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

    <div class="result-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9788478885190-M.jpg"
        alt="Harry Potter"
      >

      <div class="book-info">

        <h3>Harry Potter y el cáliz de fuego</h3>

        <p>J. K. Rowling</p>

        <span class="rating">
          4.8 ★★★★★
        </span>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

    <div class="result-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9788478887422-M.jpg"
        alt="Harry Potter"
      >

      <div class="book-info">

        <h3>Harry Potter y la Orden del Fénix</h3>

        <p>J. K. Rowling</p>

        <span class="rating">
          4.8 ★★★★★
        </span>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

  </div>

</div>
