<div class="search-page">

  <!-- Header -->

  <div class="search-header">

    <button class="back-btn" routerLink="/home">
      <img src="/arrow.png" alt="" width="15px">
    </button>

    <input
      type="text"
      placeholder="Buscar libros"
    />

  </div>

  <!-- Tabs -->

  <div class="tabs">

    <button class="active">
      Todos
    </button>

    <button>
      Libros
    </button>

    <button>
      Autores
    </button>

    <button>
      Géneros
    </button>

  </div>

  <!-- Resultados -->

  <div class="results">

    <div class="result-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9788478884452-M.jpg"
        alt="Harry Potter"
      >

      <div class="book-info">

        <h3>Harry Potter y la piedra filosofal</h3>

        <p>J. K. Rowling</p>

        <span class="rating">
          4.8 ★★★★★
        </span>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

    <div class="result-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9788478884957-M.jpg"
        alt="Harry Potter"
      >

      <div class="book-info">

        <h3>Harry Potter y la cámara secreta</h3>

        <p>J. K. Rowling</p>

        <span class="rating">
          4.7 ★★★★★
        </span>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

    <div class="result-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9788478885190-M.jpg"
        alt="Harry Potter"
      >

      <div class="book-info">

        <h3>Harry Potter y el prisionero de Azkaban</h3>

        <p>J. K. Rowling</p>

        <span class="rating">
          4.8 ★★★★★
        </span>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

    <div class="result-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9788478885190-M.jpg"
        alt="Harry Potter"
      >

      <div class="book-info">

        <h3>Harry Potter y el cáliz de fuego</h3>

        <p>J. K. Rowling</p>

        <span class="rating">
          4.8 ★★★★★
        </span>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

    <div class="result-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9788478887422-M.jpg"
        alt="Harry Potter"
      >

      <div class="book-info">

        <h3>Harry Potter y la Orden del Fénix</h3>

        <p>J. K. Rowling</p>

        <span class="rating">
          4.8 ★★★★★
        </span>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

  </div>

</div>
