<div class="reader-container"
  [class.dark]="darkMode">

  <header class="reader-header">

    <button class="icon-btn" (click)="volver()">
      <img src="/arrow.png" alt="" width="15px">
    </button>

    <h1>Lector</h1>

    <div class="header-actions">

      <button class="icon-btn" (click)="aumentarFuente()">
        A
      </button>


    </div>
  </header>

<main
    class="reader-content"
    [ngStyle]="{'font-size.px': fontSize}">

    <h2>{{ title  }}</h2>

    <ng-container *ngIf="book?.description; else textoDemo">
      <p>
        {{ book.description.value ? book.description.value : book.description }}
      </p>
    </ng-container>

    <ng-template #textoDemo>
      <p style="white-space: pre-line;">
        {{ description }}
      </p>
    </ng-template>

  </main>




  <!-- Toolbar -->

  <button class="buy-btn" (click)="obtenerLibro()">Obtener libro</button>
</div>
