*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

.reader-container{
  min-height:100vh;
  background:#fff;
  display:flex;
  flex-direction:column;
}

.reader-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
}

.reader-header h1{
  font-size:16px;
  font-weight:600;
  color:#222;
 padding-left: 1em;
}

.header-actions{
  display:flex;
  align-items: center;
  gap:10px;
}

.icon-btn{
  border:none;
  background:none;
  padding: 0 .5em;
  font-size:18px;
  cursor:pointer;
  color:#444;
}

.reader-content{
  flex:1;
  padding:3em 2em;
  overflow-y:auto;
}

.reader-content h2{
  font-size:22px;
  font-weight:700;
  color:#222;
  margin-bottom:24px;
}

.reader-content p{
  font-size:18px;
  color:#444;
  margin-bottom:24px;
  text-align:left;
}

.progress-container{
  padding:0 20px 15px;
}

.progress-bar{
  width:100%;
  height:4px;
  background:#e5e5e5;
  border-radius:10px;
  overflow:hidden;
}

.progress{
  width:28%;
  height:100%;
  background:#7C4DFF;
}

.reader-toolbar{
  height:65px;
  border-top:1px solid #eee;
  display:flex;
  justify-content:space-around;
  align-items:center;
  background:#fff;
}

.reader-toolbar button{
  border:none;
  background:none;

  font-size:22px;

  cursor:pointer;
  color:#555;
}

.book-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.8;
  font-family: Georgia, serif;
  text-align: justify;
  margin-top: 20px;
}

.reader-content {
  max-width: 900px;
  margin: 0 auto;
  overflow-y: auto;
}