<div class="reader-container"
  [class.dark]="darkMode">

  <header class="reader-header">

    <button class="icon-btn" onclick="history.back()">
      <img src="/arrow.png" alt="" width="15px">
    </button>

    <h1>{{ book?.title || 'Cargando...' }}</h1>

    <div class="header-actions">

      <button class="icon-btn" (click)="aumentarFuente()">
        Aa
      </button>

      <button class="icon-btn">
        ⋮
      </button>
    </div>
  </header>

<main
    class="reader-content"
    [ngStyle]="{'font-size.px': fontSize}">

    <h2>{{ book?.title ? 'Sinopsis / Fragmento' : 'Cargando...' }}</h2>

    <ng-container *ngIf="book?.description; else textoDemo">
      <p>
        {{ book.description.value ? book.description.value : book.description }}
      </p>
    </ng-container>

    <ng-template #textoDemo>
      <p style="white-space: pre-line;">
        {{ demoContent }}
      </p>
    </ng-template>

  </main>


  <div class="progress-container">

    <div class="progress-bar">

      <div
        class="progress"
        [style.width.%]="progress">
      </div>

    </div>

    <span class="progress-text">
      {{ progress }}%
    </span>

  </div>

  <!-- Toolbar -->

  <footer class="reader-toolbar">

    <button
      (click)="avanzarLectura()">

      📖

    </button>

    <button
      (click)="toggleDarkMode()">

      🌙

    </button>

    <button>

      🔖

    </button>

  </footer>

</div>
