<div class="reader-container" [class.dark]="darkMode">

  <!-- HEADER -->
  <header class="reader-header">

    <button class="icon-btn" (click)="volver()">
      <img src="/arrow.png" alt="volver" width="15px">
    </button>

    <h1>{{ book?.title || 'Cargando...' }}</h1>

    <div class="header-actions">

      <button class="icon-btn" (click)="disminuirFuente()">
        A-
      </button>

      <button class="icon-btn" (click)="aumentarFuente()">
        A+
      </button>

      <button class="icon-btn">
        ⋮
      </button>

    </div>

  </header>

  <!-- CONTENIDO -->
  <main class="reader-content">

    <h1>{{ book?.title || 'Cargando...' }}</h1>

    <p>
      <strong>{{ authorName }}</strong>
    </p>

    <!-- LOADING -->
    <div *ngIf="loadingContent">
      Cargando libro...
    </div>

    <!-- TEXTO -->
    <pre
      *ngIf="!loadingContent"
      class="book-text"
      [ngStyle]="{ 'font-size.px': fontSize }"
    >{{ bookContent }}</pre>

  </main>

  <!-- PROGRESO -->
  <div class="progress-container">

    <div class="progress-bar">
      <div class="progress" [style.width.%]="progress"></div>
    </div>

    <span class="progress-text">
      {{ progress }}%
    </span>

  </div>

  <!-- TOOLBAR -->
  <footer class="reader-toolbar">

    <button (click)="avanzarLectura()">
      📖
    </button>

    <button (click)="toggleDarkMode()">
      🌙
    </button>

    <button>
      🔖
    </button>

  </footer>

</div>