<div class="favorites-container">
  <header class="topbar">
    <button class="icon-btn" (click)="loadFavorites()">↻</button>

    <h1>Mis favoritos</h1>

  </header>

  <div class="favorites-list">

    <div
      class="favorite-item"
      *ngFor="let book of favoriteBooks; let i = index">

      <img
        [src]="getCover(book)"
        [alt]="book.title">

      <div
        class="book-info"
        [routerLink]="['/book', book.key.replace('/works/', '')]">

        <h3>{{ book.title }}</h3>

        <p>{{ book.author_name?.[0] || 'Autor desconocido' }}</p>

        <div class="rating">

          <span>{{ book.rating }}</span>

          <span class="stars">★★★★★</span>

        </div>
      </div>

      <button class="menu-btn" (click)="removeFavorite(i)">✕</button>

    </div>

  </div>

  <div
    class="empty-state"
    *ngIf="favoriteBooks.length === 0">

    <h3>No tienes favoritos</h3>

    <p>Agrega libros a favoritos para verlos aquí.</p>

  </div>

  <nav class="bottom-nav">

    <button routerLink="/home">
      🏠
      <span>Inicio</span>
    </button>

    <button routerLink="/library">
      📚
      <span>Biblioteca</span>
    </button>

    <button class="active-nav">
      ❤️
      <span>Favoritos</span>
    </button>

    <button routerLink="/profile">
      👤
      <span>Perfil</span>
    </button>

  </nav>

</div>