<div class="favorites-container">

  <!-- Header -->

  <header class="topbar">

    <button class="icon-btn">
      <img src="/arrow.png" alt="" width="15px">
    </button>

    <h1>Mis favoritos</h1>

    <div class="placeholder"></div>

  </header>

  <!-- Lista -->

  <div class="favorites-list">

    <div class="favorite-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9780735211292-M.jpg"
        alt="Hábitos Atómicos"
      >

      <div class="book-info">

        <h3>Hábitos atómicos</h3>

        <p>James Clear</p>

        <div class="rating">
          <span>4.8</span>
          <span class="stars">★★★★★</span>
        </div>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

    <div class="favorite-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9780156012195-M.jpg"
        alt="El Principito"
      >

      <div class="book-info">

        <h3>El principito</h3>

        <p>Antoine de Saint-Exupéry</p>

        <div class="rating">
          <span>4.7</span>
          <span class="stars">★★★★★</span>
        </div>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

    <div class="favorite-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9780451524935-M.jpg"
        alt="1984"
      >

      <div class="book-info">

        <h3>1984</h3>

        <p>George Orwell</p>

        <div class="rating">
          <span>4.6</span>
          <span class="stars">★★★★☆</span>
        </div>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

    <div class="favorite-item">

      <img
        src="https://covers.openlibrary.org/b/isbn/9780062316097-M.jpg"
        alt="Sapiens"
      >

      <div class="book-info">

        <h3>Sapiens: De animales a dioses</h3>

        <p>Yuval Noah Harari</p>

        <div class="rating">
          <span>4.8</span>
          <span class="stars">★★★★★</span>
        </div>

      </div>

      <button class="menu-btn">
        ⋮
      </button>

    </div>

  </div>

  <!-- Bottom Navigation -->

  <nav class="bottom-nav">

    <button routerLink="/home">
      🏠
      <span>Inicio</span>
    </button>

    <button routerLink="/library">
      📚
      <span>Biblioteca</span>
    </button>

    <button class="active-nav">
      ❤️
      <span>Favoritos</span>
    </button>

    <button routerLink="/profile">
      👤
      <span>Perfil</span>
    </button>

  </nav>

</div>
