<div class="explorer-container">

  <header class="topbar">

    <button class="icon-btn"
    (click)="toggleMenu()">
      ☰
    </button>

    <h1>Explorar</h1>


  </header>

  <div class="overlay" *ngIf="menuOpen" (click)="closeMenu()">
  </div>
  
  <aside class="side-menu" [class.open]="menuOpen">
    <div class="menu-header">
      <h2>Biblioteca Digital</h2>
      <button class="close-btn" (click)="closeMenu()">
        ✕
      </button>
    </div>
  
    <nav class="menu-links">

      <a routerLink="/search" (click)="closeMenu()">
        🔍 Buscar
      </a>
  
      <a routerLink="/library" (click)="closeMenu()">
        📚 Libros leidos
      </a>
  
      <a routerLink="/profile" (click)="closeMenu()">
        👤 Perfil
      </a>
  
    </nav>
  </aside>

  <div class="search-container" routerLink="/search">

    <input
      type="text"
      placeholder="Buscar libros, autores, géneros..."
    />

  </div>

  <section class="section">

    <div class="section-header">
      <h2>Categorías</h2>
    </div>

    <div class="categories">

      <button (click)="selectCategory('ficcion')">Ficción</button>
      <button (click)="selectCategory('historia')">Historia</button>
      <button (click)="selectCategory('ciencia')">Ciencia</button>
      <button (click)="selectCategory('autoayuda')">Autoayuda</button>
      <button (click)="selectCategory('romance')">Romance</button>
      <button (click)="selectCategory('misterio')">Misterio</button>

    </div>

  </section>

  <section class="section">

    <div class="section-header">
      <h2>Recomendados para ti</h2>
    </div>

    <div class="books-scroll">

      <div 
      class="book"
      *ngFor="let book of recommendedBooks"
      [routerLink]="['/book', book.key.replace('/works/', '')]">
        <img [src]="'https://covers.openlibrary.org/b/id/' + book.cover_i + '-M.jpg'"
        [alt]="book.title">
        <p class="book-title">
          {{ book.title }}
        </p>
      </div>

    </div>

  </section>

  <section class="section">

    <div class="section-header">
      <h2>Novedades</h2>
    </div>

    <div class="books-scroll">

      <div 
      class="book"
      *ngFor="let book of newBooks"
      [routerLink]="['/book', book.key.replace('/works/', '')]">
        <img [src]="'https://covers.openlibrary.org/b/id/' + book.cover_i + '-M.jpg'"
        [alt]="book.title">
        <p class="book-title">
          {{ book.title }}
        </p>
      </div>

    </div>

  </section>

  <nav class="bottom-nav">

    <button class="active">
      🏠
      <span>Inicio</span>
    </button>

    <button routerLink="/library">
      📚
      <span>Libros Leidos</span>
    </button>

    <button routerLink="/profile">
      👤
      <span>Perfil</span>
    </button>

  </nav>

</div>